.App {
  text-align: center;
  border: 2px solid crimson;
  width: 50%;
  margin: auto;
}

label {
  display: block;
  margin: 10px;
}

button {
  display: block;
  margin: 20px auto;
  padding: 8px 16px;
  border-radius: 4px;
  border: rgb(240, 133, 114) 2px solid;
  background-color: rgb(235, 90, 65);
}


